/* ================================= */
/* GLOBAL RESET / BASE STYLES */
/* ================================= */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: rgba(20, 109, 0, 0.773);
}

/* ================================= */
/* SCREEN SWITCHING */
/* ================================= */

.screen {
    width: 100%;
    height: 100vh;
}

#startScreen {
    display: block;
}

#gameScreen,
#gameOverScreen {
    display: none;
}

/* ================================= */
/* StoryLine */
/* ================================= */

/* ================================= */
/* Mole*/
/* ================================= */
.mole h1 {
    font-size: 40px;
    margin: 0;
}

/* ================================= */
/* HOLE*/
/* ================================= */

.hole {
    width: 100px;
    height: 100px;

    background: #624502;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 15px;

    width: fit-content;
}

/* ================================= */
/* MEMBER 3 - SCREEN STYLING */
/* ================================= */

/*
Jerick:
- Start Screen Styling
- Game Screen Styling
- Game Over Styling
- HUD
- Layout
- Colors
- Fonts
*/

/* ================================= */
/* STORYLINE / LORE SECTION */
/* ================================= */

.story-lore {
    text-align: center;
    color: white;
    font-size: 14px;
    max-width: 500px;
    margin: 10px auto;
    opacity: 0.8;
    line-height: 1.4;
}

/* ================================= */
/* SCREEN VISIBILITY */
/* ================================= */

#gameScreen,
#gameOverScreen {
    display: none;
}

/* ================================= */
/* MEMBER 4 - ANIMATIONS & EFFECTS */
/* ================================= */

/*
Korn:
- Pop up animation
- Retract animation
- Ice slide animation
- Gravity wobble
- Screen shake
- Particle effects
*/



/* ================================= */
/* PLACEHOLDER CLASSES */
/* ================================= */

.hidden {
    display: none;
}